.wedding-faqs {

    &-subheader {
        margin-bottom: 6rem;
        font-family: shreeBold, sans-serif;
    }

    &-question {
        width: 100%;
        max-width: 75rem;
        margin: 0 auto;
        padding: 0 0 6rem 0;
    }
}


.question {
    font-family: shreeBold, sans-serif;
    font-weight: bold;
    margin-bottom: 1.5rem;
}