.btn {
    &,
    &:link,
    &:visited {
        display: inline-block;
        position: relative;
        text-decoration: none;
        padding: 1rem 2.8rem;
        margin-bottom: 3rem;
        color: $color-black;
        font-size: $default-font-size;
        cursor: pointer;
        @include hover-background($button-bg-color);
        border: 4px solid $button-bg-color;
    }

    &:hover {
        color: $button-hover-text;
    }
}

