*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    height: 100%;
    //defines what 1rem is
    font-size: 62.5%; //1 rem = 10px
    scroll-behavior: smooth;

    @include respond(tab-land) {
        font-size: 56.25%; /* 1rem = 9px, 9/16 56.25% */
    }

    @include respond(big-desktop) {
        font-size: 75%; /* 1rem = 12px, 12/16 75% */
    }

}

body {
    height: 100%;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

p {
    margin-bottom: 1.8rem !important;
}

ul {
    list-style-position: inside;
    margin-bottom: 1.5rem;
}